
.event_container{
    width: 100%;
    background-color: $N4_Bk_Color_01;
    .event_wrapper{
        @include wrapper;
        @include md(){
            width: 90%;
        }
    }
}
.event_page_title{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    .page_title{
        position: relative;
        @include heading_CN(2.5rem, 3.75rem);
        @include sm(){
            @include heading_CN(2rem, 2rem);
        }
    }
}
.event_title_pac_man{
    display: flex;
    padding: 0 1.5vw;
    @include sm(){
        padding: 0 1vw;
    }
    .dot{
        @include base(6px, 6px);
        align-self: center;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 6px;
    }
    .dot_lg{
        @include base(11px, 11px);
        background-color: $P1_Primary_Color_01;
        box-shadow: 0 0 3px $P1_Primary_Color_01;
    }
    .event_pac_man_img{
        align-self: center;
        width: 40px;
    }
}
.event_cards_container{
    @include margin_auto;
    @include lg(){
        display: none;
    }
}
.event_cards_flow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .event_arrow_img_box{
        align-self: center;
    }
}
.event_cards_group{
    display: flex;
    @include base(520px, 300px);
    border: 3px solid $N1_Primary_Text;
    border-radius: 32px;
    justify-content: space-evenly;
    box-sizing: border-box;
    @include sm(){
        @include base(340px, auto);
    }
    .event_img_box{
        align-self: center;
        box-sizing: border-box;
        img{
            @include base( 4.3rem, 6rem);
            @include sm(){
                @include base( 4rem, 5rem);
            }
        }
    }
    .event_live_stream{
        align-self: center;
    }
}
.event_cards_group:hover h3{
    color: $P1_Primary_Color_01;
    text-shadow: 0 0 3px $P1_Primary_Color_01;
}
.event_cards_group:hover{
    border: 3px solid $P1_Primary_Color_01;
    background-color: #6E77E91A;
    transition: .2s ease-in;
}
.event_img_box img{
    @include base(5.5vw, 7vw);
    @include md(){
        @include margin_auto;
    }
}
.event_content{
    box-sizing: border-box;
    color: $N1_Primary_Text;
    @include sm(){
        padding: 0 1rem;
    }
    h3{
        font-size: 32px;
        @include md(){
            text-align: center;
        }
    }
    .line{
        @include margin_auto;
        @include base(2px, 12px);
        background-color: $N1_Primary_Text;
    }
    .accent_word{
        padding-right: 10px;
    }
}
.event_arrow_img_box{
    .event_arrow_img{
        width: 40px;
    }
}
.arrow_middle{
    padding: 2.5vw 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15%;
    .blank .event_arrow_img{
        transform: rotate(90deg);
        margin: 0 auto;
    }
}
.third_arrow{
    transform: rotate(180deg);
}

// RWD tablet & mobile
.event_cards_rwd_container{
    display: none;
    @include lg(){
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-evenly;
    }
    .event_cards_group{
        box-sizing: border-box;
        @include sm(){
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .event_arrow_img_box{
        transform: rotate(90deg);
        margin: 1rem;
    }
}