*{
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
}
img{
	width: 100%;
	display: block;
}
body{
    background-color: #06102B;
}
section{
	padding: 100px 0;
}
.btn_box{
    display: flex;
    justify-content: center;
}